BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentWidth: 4
Language: Cpp
TabWidth: 4
UseTab: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 120
BinPackParameters: false
BinPackArguments: false
SortIncludes: Never
